AI-Powered-LinkedIn-Outreach-Marketing-Email-Automation.json
{
  "name": "Google Maps business scraper with contact extraction via Apify and Firecrawl",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "49802825-ae7d-4a8b-a773-038565cbdfe7",
      "name": "Receive LinkedIn Request",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2176,
        736
      ],
      "webhookId": "7b9cb2a1-2ac1-47df-91a1-87459155ef2e",
      "credentials": {
        "telegramApi": {
          "id": "vBrE6eVPvwMQNf9O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "businessOffering",
              "value": "={{ $('Ask for Service Offering').item.json.data.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "linkedinUrl",
              "value": "={{ $('Ask for LinkedIn Profile').item.json.data.text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "profileName",
              "value": "={{ $json.metadata.jsonLd[0]['@graph'][0].author.name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "profileHeadline",
              "value": "={{ $json.metadata.title }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "profileAbout",
              "value": "={{ $json.metadata.description }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "profileEmail",
              "value": "={{ $json.email ? $json.email.replace('mailto:', '') : 'Not found' }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "chatId",
              "value": "={{ $('Receive LinkedIn Request').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae4a9886-3c74-48f6-b697-f7f1af6533f2",
      "name": "Prepare Data for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Business Offering: ' + $json.businessOffering + '\\n\\nLinkedIn Profile Data:\\nName: ' + $json.profileName + '\\nHeadline: ' + $json.profileHeadline + '\\nAbout: ' + $json.profileAbout + '\\n\\nPlease draft a personalized marketing email for this prospect.' }}",
        "options": {
          "systemMessage": "You are an expert sales email writer. Create a personalized, compelling marketing email based on the LinkedIn profile data and business offering provided. The email should be professional, concise (200-300 words), highlight relevant aspects of the prospect's background, and clearly explain how the business offering (focus on use cases) can benefit them. Include a clear call-to-action.\n\nSign off every email with:\nJohn Uneke\nAI Automation Engineer | Data Analyst"
        }
      },
      "id": "53a0dfb3-0151-4e00-bbd6-e06312ec3f30",
      "name": "Generate Marketing Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "8015af63-99a7-4e88-9edd-fd447f7831b3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "75zqDy8FRvvrCofG",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Prepare Data for AI').item.json.chatId }}",
        "message": "={{ '📧 *Draft Marketing Email*\\n\\n' + $json.output + '\\n\\n✅ Reply \"confirm\" to log this email\\n❌ Reply \"cancel\" to discard' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e5619db6-d274-4979-9947-fef5a3f73b66",
      "name": "Send Draft for Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        400
      ],
      "webhookId": "74b6b4f3-e3e9-412d-964a-8c0f25cbfebe",
      "credentials": {
        "telegramApi": {
          "id": "vBrE6eVPvwMQNf9O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "confirm",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f705d444-d6de-4591-b820-bffcaed3cae4",
      "name": "Check Confirmation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1696,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Profile Name",
              "value": "={{ $('Prepare Data for AI').item.json.profileName }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "Profile Link",
              "value": "={{ $('Prepare Data for AI').item.json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "Extracted Email",
              "value": "={{ $('Prepare Data for AI').item.json.profileEmail }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "Profile Headline",
              "value": "={{ $('Prepare Data for AI').item.json.profileHeadline }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Profile About",
              "value": "={{ $('Prepare Data for AI').item.json.profileAbout }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "Drafted Email",
              "value": "={{ $('Generate Marketing Email').item.json.output }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "Timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4161f6e4-0c01-4d51-b896-6219f51fde86",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        496
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_612jQFrJnerol3Ree6JOYhFQUv23Lebj-S5AqPhvOg",
          "mode": "list",
          "cachedResultName": "Linkedin Marketing Lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_612jQFrJnerol3Ree6JOYhFQUv23Lebj-S5AqPhvOg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_612jQFrJnerol3Ree6JOYhFQUv23Lebj-S5AqPhvOg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin Profile Name": "={{ $json['Profile Name'] }}",
            "Profile Link": "={{ $json['Profile Link'] }}",
            "Profile Description": "={{ $json['Profile About'] }}",
            "Marketing Mail Draft": "={{ $json['Drafted Email'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Linkedin Profile Name",
              "displayName": "Linkedin Profile Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Profile Link",
              "displayName": "Profile Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Profile Description",
              "displayName": "Profile Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Marketing Mail Draft",
              "displayName": "Marketing Mail Draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent Status",
              "displayName": "Sent Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d73ce20-8fa9-4468-94c9-b056219cb0af",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mxhV9dJQochr9yKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive LinkedIn Request').item.json.message.chat.id }}",
        "text": "✅ Email logged successfully! Ready for the next prospect.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8ac09e89-07cb-4b4a-9025-ecce005c4e3c",
      "name": "Send Success Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        496
      ],
      "webhookId": "ac2228f6-5e68-4e47-a4a1-cb3ffe7f6c9b",
      "credentials": {
        "telegramApi": {
          "id": "vBrE6eVPvwMQNf9O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Send Draft for Confirmation').item.json.message.chat.id }}",
        "text": "❌ Email draft cancelled. Send a new request when ready.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "21891804-b686-456b-9368-f7f2760e6683",
      "name": "Send Cancellation Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        304
      ],
      "webhookId": "922c57b5-f5f3-4552-8127-96e2e55022ee",
      "credentials": {
        "telegramApi": {
          "id": "vBrE6eVPvwMQNf9O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "Great! Let's get started. 🚀\n\nFirst, please describe your service offering:",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "95a69841-7573-4b41-a8fd-a1ac7b0c776e",
      "name": "Ask for Service Offering",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        704
      ],
      "webhookId": "85fef1fd-c371-4bb4-b38a-c2f0c854ff23",
      "credentials": {
        "telegramApi": {
          "id": "vBrE6eVPvwMQNf9O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Receive LinkedIn Request').item.json.message.chat.id }}",
        "message": "Perfect! ✅\n\nNow, please share the LinkedIn profile link of your prospective client:",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "55a84161-abd5-406a-9ab5-fda6f517718f",
      "name": "Ask for LinkedIn Profile",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        672
      ],
      "webhookId": "3b22c6e7-9c6e-47de-83b6-4f97b68003f8",
      "credentials": {
        "telegramApi": {
          "id": "vBrE6eVPvwMQNf9O",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Scrape single URL",
        "url": "={{ $json.data.text }}",
        "crawlerType": "playwright:adaptive"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        400
      ],
      "id": "782e19c2-57b5-463a-bf8c-f0bb11ff84fe",
      "name": "Scrape single URL",
      "credentials": {
        "apifyApi": {
          "id": "AYeYaLVa8HoWmwac",
          "name": "Apify account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Data for AI": {
      "main": [
        [
          {
            "node": "Generate Marketing Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive LinkedIn Request": {
      "main": [
        [
          {
            "node": "Ask for Service Offering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Marketing Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Marketing Email": {
      "main": [
        [
          {
            "node": "Send Draft for Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft for Confirmation": {
      "main": [
        [
          {
            "node": "Check Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confirmation": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cancellation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Service Offering": {
      "main": [
        [
          {
            "node": "Ask for LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Scrape single URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape single URL": {
      "main": [
        [
          {
            "node": "Prepare Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "859abc65-2029-4b7e-ba75-e69e060cd4bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7e319bd65bc6e0d8d58df46cd125afec1c1e91bb5bd83c47fb82026129ab6f6"
  },
  "id": "TIw9ODMs7Za6DtHT",
  "tags": []
}